@import "@styles/vars.scss";
@import "@styles/mixins.scss";


.header{
	width: 100%;
	//background-color:$nasa_grey;
	padding: 45px 15px 0px;
	margin-bottom: 50px;
}


.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;;

}

.title{
	@include flex_center;
	position: relative;
	//bottom: -5px;
	width: 100%;
	font-family: "SketchGothic";
	font-size: 50px;
	font-size: clamp(36px, 50px, 4vw);
	line-height: 0.85;
	color: $red;
	display: inline-block;
	text-align: center;
}



