@import "@styles/vars.scss";
@import "@styles/mixins.scss";


@font-face {
    font-family: 'cyrodiil';
    src: url('/fonts/cyrodiil-webfont.woff2') format('woff2'),
         url('/fonts/cyrodiil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.cyrodiil{
	font-family: 'cyrodiil';
    .alt{
            color: $accent_color;
            font-size: 1.5em;
        }
}

@font-face {
    font-family: 'sketch-gothic';
    src: url('/fonts/sketch_gothic_school-webfont.woff2') format('woff2'),
         url('/fonts/sketch_gothic_school-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sketchGothic{
	font-family: 'sketch-gothic';
    .alt{
            color: $accent_color;
            font-size: 1.5em;
        }
}

@font-face {
    font-family: 'elvish';
    src: url('/fonts/tngan-webfont.woff2') format('woff2'),
         url('/fonts/tngan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.elvish{
	font-family: 'elvish';
    .alt{
            color: $accent_color;
            font-size: 1.5em;
        }
}

@font-face {
    font-family: 'theban';
    src: url('/fonts/wiccanways-webfont.woff2') format('woff2'),
         url('/fonts/wiccanways-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.theban{
	font-family: 'theban';
    .alt{
            color: $accent_color;
            font-size: 1.5em;
        }
}